.header{
    overflow: hidden;
    position: fixed; 
    top: 0; 
    width: 100%;
    z-index: 1;
    background-color: darkgray;
    box-shadow: 0 0 10px 0 black;
}
*{
    font-family: 'Raleway', sans-serif;
}

#logo{
    height: 2rem;
}
.main{
    background-color: rgba(128, 128, 128, 2);
    margin-top: 9vh;
    height: 120vh;
    color: white;
    padding: 1rem;
}
.detail{
    width: 60%;
}

.cardone{
    height: 3rem;
}
.p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.btn{
    background-color: black;
    color: white;
}
.righttext{
    color: rgb(71, 71, 71);
    font-size: small;
    margin-left: 5%;
}
.activestake{
    margin-top: 5%;
    width: 80%;
}
#cardtwo{
    background-color: rgba(105, 105, 105, 2);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.stakehistory{
    margin-top: 2%;
    width: 80%;
}
.card{
    border: 2px solid green;
}

@media screen and (max-width: 600px) {
    .detail{
        width: 100%;
    }
    .activestake{
        margin-top: 5%;
        width: 100%;
    }
    .stakehistory{
        margin-top: 2%;
        width: 100%;
    }
}